<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Nocout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cloud-admin.css' %}" >
	<link rel="stylesheet" type="text/css"  href="{% static 'css/themes/default.css' %}" id="skin-switcher" >
	<link rel="stylesheet" type="text/css"  href="{% static 'css/responsive.css' %}" >
	
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<!-- DATE RANGE PICKER -->
	<link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" />
	<!-- TABLE CLOTH -->
	<link rel="stylesheet" type="text/css" href="{% static 'js/tablecloth/css/tablecloth.min.css' %}" />
	<!-- FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<body >
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header">
		<div class="container">
				<div class="navbar-brand">
					<!-- COMPANY LOGO -->
					<a href="index.html">
						<img src="img/logo/logo.png" alt="Cloud Admin Logo" class="img-responsive" height="30" width="120">
					</a>
					<!-- /COMPANY LOGO -->
					
					<!-- SIDEBAR COLLAPSE -->
					<div id="sidebar-collapse" class="sidebar-collapse btn">
						<i class="fa fa-bars" 
							data-icon1="fa fa-bars" 
							data-icon2="fa fa-bars" ></i>
					</div>
					<!-- /SIDEBAR COLLAPSE -->
				</div>
			
				<!-- BEGIN TOP NAVIGATION MENU -->					
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN NOTIFICATION DROPDOWN -->	
					<!--  -->
					<!-- END NOTIFICATION DROPDOWN -->
					
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user" id="header-user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img alt="" src="img/avatars/avatar3.jpg" />
							<span class="username">Administrator</span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							
							<li><a href="login.html"><i class="fa fa-power-off"></i> Log Out</a></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU -->
		</div>
		
		
	</header>
	<!--/HEADER -->
	
	<!-- PAGE -->
	<section id="page">
				<!-- SIDEBAR -->
				<div id="sidebar" class="sidebar sidebar-fixed">
					<div class="sidebar-menu nav-collapse">
						<div class="divide-20"></div>
					
						
						<!-- SIDEBAR MENU -->
						<ul>
							<li>
								<a href="/Nocout">
								<i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">Dashboard</span>
								<span class="selected"></span>
								</a>					
							</li>
							<!-- <li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">QoS</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a class="" href="elements.html"><span class="sub-menu-text">ICMP</span></a></li><li><a class="" href="notifications.html"><span class="sub-menu-text">RSSI</span></a></li>
									<li><a class="" href="buttons_icons.html"><span class="sub-menu-text">HTTP</span></a></li>
									<li><a class="" href="sliders_progress.html"><span class="sub-menu-text">DNS</span></a></li>
									<li><a class="" href="typography.html"><span class="sub-menu-text">TCP</span></a></li>
									<li><a class="" href="tabs_accordions.html"><span class="sub-menu-text">VoIP</span></a></li>
									<li><a class="" href="treeview.html"><span class="sub-menu-text">Gaming</span></a></li>
								</ul>
							</li>
							<li class="has-sub">
								<a href="javascript:;" class="">
								<i class="fa fa-table fa-fw"></i> <span class="menu-text">QoE</span>
								<span class="arrow"></span>
								</a>
								<ul class="sub">
									<li><a class="" href="simple_table.html"><span class="sub-menu-text">Facebook</span></a></li>
									<li><a class="" href="dynamic_tables.html"><span class="sub-menu-text">Twitter</span></a></li>
									<li><a class="" href="jqgrid_plugin.html"><span class="sub-menu-text">Youtube</span></a></li>
									<li><a class="" href="jqgrid_plugin.html"><span class="sub-menu-text">Google</span></a></li>
									<li><a class="" href="jqgrid_plugin.html"><span class="sub-menu-text">Whatsapp</span></a></li>
								</ul>
							</li> -->
							<li><a href="probes"><i class="fa fa-desktop fa-fw"></i> <span class="menu-text">Probe</span></a></li>
							<!-- <li><a class="" href="inbox.html"><i class="fa fa-envelope-o fa-fw"></i> <span class="menu-text">Events</span></a></li>
							 -->
							
							<li>
								<a href="/Nocout/Inventory" class="">
								<i class="fa fa-bar-chart-o fa-fw"></i> <span class="menu-text">Inventory</span>
								</a></li>
								<li><a class="" href="registration"><i class="fa fa-envelope-o fa-fw"></i> <span class="menu-text">Probe Registration</span></a></li>
								<li><a class="" href=""><i class="fa fa-envelope-o fa-fw"></i> <span class="menu-text">Configuration</span></a></li>
						</ul>
						<!-- /SIDEBAR MENU -->
					</div>
				</div>
				<!-- /SIDEBAR -->
		<div id="main-content">
			<div class="container">
				<div class="row">
					<div id="content" class="col-lg-12">
						<!-- PAGE HEADER-->
						<div class="row">
							<div class="col-sm-12">
								<div class="page-header">
									<!-- STYLER -->
									
									<!-- /STYLER -->
									<!-- BREADCRUMBS -->
									<ul class="breadcrumb">
										<li>
											<i class="fa fa-home"></i>
											<a href="index.html">Home</a>
										</li>
										<li>Add Configuration</li>
									</ul>
									<!-- /BREADCRUMBS -->
									<div class="clearfix">
										<h3 class="content-title pull-left">Probe Service Configuration</h3>
										<!-- DATE RANGE PICKER -->
										
										<!-- /DATE RANGE PICKER -->
										</div>
									<div class="description">Enter the configuration Details of Probe</div>
								</div>
							</div>
						</div>
						<!-- /PAGE HEADER -->
						<!-- PAGE -->
	<section id="page">
			<!-- HEADER -->
			
			<!-- Configuration -->
			<section id="configuration" class="visible">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="login-box-plain">

								<h2 class="bigintro">Configuration</h2>
								<div class="divide-40"></div>
								<form action="{% url 'configuration' %}" method="POST" role="form">
								{% csrf_token %}
								 <div class="form-group">
										<label for="exampleInputName">Probe Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<select name = "Probe_ID" class="form-control">
										<option value="%" selected="selected" disabled="True">Select Probe</option>
										{% if reg_probe %}
											{% for r in reg_probe %}
												<option value = "{{ r.Probe_ID }}" > {{ r.Probe_Name }}</option>								
										{% endfor %}
										{% else %}
											Error:
										{% endif %}	
									</select><br>
								</div>
								<div class="form-group">
										<label for="exampleInputName">Service Name</label>&nbsp;&nbsp;&nbsp;
											<select name = "Service" class="form-control">
												<option value="%" selected="selected" disabled="True">Select Service</option>
												<option value="Http_Downlink">Http Downlink</option>
												<option value="Http_Response_Time">Http Response Time</option>
												<option value="DNS_Response_Time">DNS Response Time</option>
												<option value="TCP_Response_Time">TCP Response Time</option>
												<option value="ICMP_All">ICMP</option>
											</select><br>
								</div>
								 <div class="form-group">
										<label for="exampleInputName">Critical Threshold</label>
											<i class="fa fa-font"></i>
											<input type="text" name ="Critical_Threshold" class="form-control" id="exampleInputName" >
								</div>

								  <div class="form-group">
										<label for="exampleInputName">Warning Threshold</label>
										<i class="fa fa-font"></i>
										<input type="text" name="Warning_Threshold" class="form-control" id="exampleInputName" >
								  </div>
								 <div class="form-group">
										<label for="exampleInputName">Target IP/URL</label>
										<i class="fa fa-font"></i>
										<input type="text" name="Target_IP" class="form-control" id="exampleInputName" >
								  </div>
								  <div class="form-group"> 
										<label for="exampleInputName">Check Interval</label>
										<i class="fa fa-font"></i>
										<input type="text" name="Check_Interval" class="form-control" id="exampleInputName" >
								  </div>
								   <div class="form-group">
										<label for="exampleInputName">Timeout Interval</label>
										<i class="fa fa-font"></i>
										<input type="text" name="Timeout" class="form-control" id="exampleInputName" >
								  </div>
								   <div class="form-group">
										<label for="exampleInputName">Maximum Attempt</label>
										<i class="fa fa-font"></i>
										<input type="text" name="Maximum_Attempt" class="form-control" id="exampleInputName" >
								  </div>
								 <div class="form-actions">
									<button type="submit" class="btn btn-success">Add</button>
								  </div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!--/Configuration -->
			<!-- FORGOT PASSWORD -->
	</section>
	<!--/PAGE -->
					
					</div><!-- /CONTENT-->
				</div>
			</div>
		</div>
	</section>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<script src="{% static 'js/jquery/jquery-2.0.3.min.js' %}"></script>
	<!-- JQUERY UI-->
	<script src="{% static 'js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
	<!-- BOOTSTRAP -->
	<script src="{% static 'bootstrap-dist/js/bootstrap.min.js' %}"></script>
	
		
	<!-- DATE RANGE PICKER -->
	<script src="{% static 'js/bootstrap-daterangepicker/moment.min.js' %}"></script>
	
	<script src="{% static 'js/bootstrap-daterangepicker/daterangepicker.min.js' %}"></script>
	<!-- SLIMSCROLL -->
	<script type="text/javascript" src="{% static 'js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js' %}"></script><script type="text/javascript" src="js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
	<!-- BLOCK UI -->
	<script type="text/javascript" src="{% static 'js/jQuery-BlockUI/jquery.blockUI.min.js' %}"></script>
	<!-- TABLE CLOTH -->
	<script type="text/javascript" src="{% static 'js/tablecloth/js/jquery.tablecloth.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/tablecloth/js/jquery.tablesorter.min.js' %}"></script>
		<!-- FLOT CHARTS -->
	<script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
	<script src="{% static 'js/flot/jquery.flot.time.min.js' %}"></script>
    	<script src="{% static 'js/flot/jquery.flot.selection.min.js' %}"></script>
	<script src="{% static 'js/flot/jquery.flot.resize.min.js' %}"></script>
    	<script src="{% static 'js/flot/jquery.flot.pie.min.js' %}"></script>
    	<script src="{% static 'js/flot/jquery.flot.stack.min.js' %"></script>
    	<script src="{% static 'js/flot/jquery.flot.crosshair.min.js' %}"></script>
	<!-- COOKIE -->
	<script type="text/javascript" src="{% static 'js/jQuery-Cookie/jquery.cookie.min.js' %}"></script>
	<!-- CUSTOM SCRIPT -->
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/charts.js' %}"></script>
	<script>
		jQuery(document).ready(function() {		
			App.setPage("fixed_header_sidebar");  //Set current page
			App.init(); //Initialise plugins and elements
		});
	</script>
	<!-- /JAVASCRIPTS -->
	<!-- UNIFORM -->
	<script type="text/javascript" src="{% static 'js/uniform/jquery.uniform.min.js' %}"></script>
	<!-- CUSTOM SCRIPT -->
	<script src="{% static 'js/script.js' %}"></script>
	<script>
		jQuery(document).ready(function() {		
			App.setPage("register");  //Set current page
			App.init(); //Initialise plugins and elements
		});
	</script>
	<script type="text/javascript">
		function swapScreen(id) {
			jQuery('.visible').removeClass('visible animated fadeInUp');
			jQuery('#'+id).addClass('visible animated fadeInUp');
		}
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>
